@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-principal: #111111;
  --color-icon: #414141;
  --color-text: #dbe3e3;
  --color-good: #e4bf60;
  /* Modal CSS*/
  --bg-modal: #1d1d1d;
  --color-input: #282828;
  --color-text-input: #8e8e8e;
  --color-text-title: #4d4d4d;
  --family-normal: "Overpass", sans-serif;
  --family-mono: "Overpass Mono", monospace;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family-normal);
}

button,
a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
#root {
  background-color: var(--bg-principal);
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
