@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=PT+Mono&family=Share+Tech+Mono&family=Space+Mono:wght@400;700&display=swap");
:root {
  --bgfont: #121212;
  --letter: #dbe3e3;
  --lettertext: #5c5c5c;
  --check: #478bc9;
  --error: #ae515e;
  --size: calc(1.5rem + 1.5vw);
  --fontmono: "Overpass Mono", monospace;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontmono);
}
button,
a {
  cursor: pointer;
}
.bgTheme {
  background-color: var(--bgfont);
}
.vw100 {
  width: 100vw;
}
.button-config {
  background: transparent;
  border: none;
  outline: none;
}
.flex {
  display: flex;
  width: 100%;
}
.letter-ai {
  font-weight: 700;
  font-size: var(--size);
}
html {
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
main,
header {
  justify-content: center;
  align-items: center;
}
section,
nav {
  max-width: 900px;
}
footer {
  bottom: 0;
  position: absolute;
  height: 20vh;
}
