@import url("./root.css");

.text-completed {
  color: var(--lettertext);
  text-align: justify;
  padding: 5rem 1rem;
}
.box-all {
  position: fixed;
  display: grid;
  place-items: center;
  left: 0;
}
.box-all_text {
  max-width: 900px;
  padding: 5rem 1rem;
}
.logo {
  color: var(--letter);
}
.ul-nav {
  justify-content: space-between;
  padding: 2rem 1rem 0;
}
.custom-modal {
  height: 100vh;
  position: absolute;
  background: #00000090;
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  padding: 2rem;
}
.modal-settings {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
